services:
  postgresql:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: carstock
      POSTGRES_PASSWORD: bertolo123
    ports:
      - 5433:5432
    volumes:
      - database-data:/var/lib/postgresql/data
    networks:
      - api-network

  api-carstock:
    build: .
    image: api-carstock:1.0
    ports:
      - "8080:8080"
    restart: always
    networks:
      - api-network
    depends_on:
      - postgresql

networks:
  api-network:
    driver: bridge

volumes:
  database-data:
    driver: local